<div class="container">
    <img src="/static/Common/home.jpeg" class="img-fluid">
    <br>
    <br>
    <p class="text-dark lead text-center">
        In this modern era, most of the people started tracking personal things such as weight,steps count, health progress
        etc.
        <br>
        This is the place for us to keep tracking and storing some of the trackable items in our life. Through this
        medium,
        it will help us to see the past measurements in terms of the things which we learned, exercises started and
        included in our workout plan, places we visited, and expenses we have done on past time period etc. Through this we can see how
        we are
        progressing
        according to above mentioned items in life and we can find out where we are standing now compared to
        previous
        time period. Hope this eventually helps us to become the better version of ourself.
    </p>
    <br><br>
    $if session["user"] == None:
        <div class="text-center">
            <a href="/login"> Login </a> to see your details.
        </div>
</div>