$def with (movie_data)
<div class="container">
    $if session["user"] == None:
        <p class="text-center lead">
            Recently watched any movie? Log it here.
        </p>
        <p class="text-center">
            <a href="/login">Login</a> and start track of your movie history..
        </p>
    $else:
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 bgcolor_milk" id="movies_div">
                <u>
                    <p class="text-dark text-center lead">New movie entry</p>
                </u>
                <form id="form_movie_input">
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Movie name</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter name of the movie" id="MovieNameId"
                            name="MovieName" aria-describedby="basic-addon1">
                    </div>
                    <div class="form-check-inline mb-1">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="True" id="watched_check_id" name="watched" checked>
                                Already watched.
                            </label>
                        </div>

                    <div class="input-group mb-1">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelectMovieType">Type</label>
                      </div>
                      <select class="custom-select" id="inputGroupSelectMovieType" name="Type">
                        <option selected>Choose...</option>
                          <!--
                            <option value="Horror">Horror</option>
                            <option value="Action">Action</option>
                            <option value="Thriller">Thriller</option>
                            <option value="SciFi">SciFi</option>
                            <option value="Others">Others</option>
                            -->
                          $for movie_type in movie_data["movie_types"]:
                            <option value=$movie_type>$movie_type</option>

                      </select>
                    </div>

                    <div class="input-group mb-1">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelectMovieLanguage">Language</label>
                      </div>
                      <select class="custom-select" id="inputGroupSelectMovieLanguage" name="Language">
                        <option selected>Choose...</option>
                            <option value="Malayalam">Malayalam</option>
                            <option value="English">English</option>
                            <option value="Hindi">Hindi</option>
                            <option value="Tamil">Tamil</option>
                            <option value="Kannada">Kannada</option>
                            <option value="Telugu">Telugu</option>
                      </select>
                    </div>

                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="WatchDate">Date</label>
                        </div>
                        <input type="date" class="form-control" placeholder="Enter the date" id="WatchDate"
                            name="WatchDate">
                    </div>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Comments</span>
                        </div>
                        <textarea class="form-control" aria-label="Comments" id="Comments" name="Comments"></textarea>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-outline-primary" id="btn_Movies_save">Save</button>

                </form>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <button type="button" class="btn btn-outline-primary btn-block" id="BtnViewAllMovies">All Movies</button>
            </div>
            <div class="col-lg-6">
                <button type="button" class="btn btn-outline-primary btn-block" id="BtnToWatchMovies">Movies To Watch</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <span id="ViewMovieContentId" hidden></span>
            </div>
        </div>

</div>