$def with (data)
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            $if session["user"] == None:
                <br>
                <p class = "text-center">Please <a href = "/login">login </a> to see your summary and progress made so far.. </p>
                <hr>
        </div>
    </div>
    $if session["user"] != None:
        <div class="row">
            <div class="col-lg-12">
                <br>
            </div>
        </div>
        <div class="row border1">
            <div class="col-lg-12 bgcolor_light_color1">
                <h2><small><span id="set-greetings"></span> $session["user"]["UserId"],</small></h2>
                <p class="font-italic text-primary">You visited last time on $data["LastTimeVisit"]</p>
                <p class="font-italic text-primary">$data["LastFeelingUpdate"]. Click <a href="/feelings">here</a> to update. </p>
                <p class="font-italic text-primary">Last time backup took on date.Click to back up now.</p>
                $if data["ExpenseWarning"] == True:
                <p class="font-italic text-danger"><b>Monthly expense warning!</b></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-primary text-center display-3"> <small> <a href="/expenses">Expenses</a></small></h1>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <h4><small>Total expense for the current month:</small></h4>
            </div>
            <div class="col-lg-7">
                <h2 class="text-danger">Rs. $data["ExpenseCurrentMonthAmount"]</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card-columns">
                    $for key in data["ExpenseCategoryAmounts"]:
                          $if '__max' in key:
                              <div class="card bg-danger">
                          $else:
                              <div class="card bg-light">
                          <div class="card-body text-center">
                              <h4 class="card-title">$key.strip("__max")</h4>
                              <p class="card-text">Rs. $data["ExpenseCategoryAmounts"][key]</p>
                          </div>
                          </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12 font1">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Today's expense: Rs.$data["TodaysExpense"]</li>
                    <li class="list-group-item">Last month expense: Rs.$data["ExpenseLastMonthAmount"]</li>
                    <li class="list-group-item">Average monthly expense (current year) : Rs.$data["MonthlyAverageExpense"]</li>
                    <li class="list-group-item">Weekly budget : Rs.$data["WeeklyBudget"]</li>
                </ul>
                $if data["ExpenseYearGraph"] == "success":
                    <img src="static/temp/expense.png" width="700px">
            </div>
            <br>
        </div>
         <hr>
        <div class="row">
            <div class="col-lg-11">
                <h1 class="text-primary text-center display-3"> <small> <a href="/reminders">Reminders</a> </small></h1>
            </div>
            <div class="col-lg-1">
                <img src="/static/Common/Bell.png" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                $if data["ReminderList"] == None:
                    <h4>No reminders</h4>
                $else:
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Event Name</th>
                                <th>Due on</th>
                            </tr>
                        </thead>
                        <tbody>
                        $for record in data["ReminderList"]:
                            <tr>
                                <td>$record["ReminderId"]</td>
                                <td>$record["EventName"] </td>
                                <td>$record["NextDate"] </td>
                            </tr>
                        $for record in data["PendingReminderList"]:
                            <tr>
                                <td>$record["ReminderId"]</td>
                                <td>$record["EventName"] </td>
                                <td class="text-danger">$record["NextDate"] </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-primary text-center display-3"> <small> <a href="#">Health</a> </small></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                $if data["ExerciseGraph"] == "success":
                    <img src="static/temp/exercise.png" width="700px">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-primary text-center display-3">
                    <small> <a href="/learnings">Learnings for the year</a> </small>
                </h1>
            </div>
        </div>
        <div class = "row">
            <div class="col-lg-12">
                $if data["LearningList"] ==[]:
                    <h4 class="text-danger"><small>You didn't learned anything so far.</small></h4>
                $else:
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Month</th>
                                <th>Subject</th>
                            </tr>
                        </thead>
                        <tbody>
                        $for record in data["LearningList"]:
                            <tr>
                                <td>$record["month"]</td>
                                <td>
                                    <ol>
                                    $for item in record["subject"]:
                                        <li>$item</li>
                                    </ol>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-primary text-center display-3"> <small> <a href="/books">Books</a> </small></h1>
                <br>
                <small class="text-muted">
                    Books records are available from $data["BooksStartDate"]
                </small>

                <table class="table">
                    <tr>
                        <td>
                            $if data["CompletedBooksCount"] > 0:
                                <h1 class="display-1"> $data["CompletedBooksCount"] </h1>
                                <h6 class="text-muted"> read so far, keep going..</h6>
                        </td>
                        <td>
                            $if data["ReadInProgressBooks"] == None:
                                <h4 class="text-danger">
                                    <small> It appears that you're not presently engrossed in any books.</small>
                                </h4>
                            $else:
                                <h4 class="text-secondary"><small> You are yet to complete following book(s): </small></h4>
                                <ol>
                                    $for book in data["ReadInProgressBooks"]:
                                        <li>$book["Name"] </li>
                                </ol>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-primary text-center display-3"><a href="/movies">Movies</a></h1>
                    <small class="text-muted">
                    Movies records are available from $data["MoviesStartDate"] to $data["MoviesEndDate"]
                    </small>
                    <table class="table">
                        <tr>
                            <td>
                                <h1 class="display-1">$data["AllMoviesCount"] </h1>
                                <h6 class="text-muted">viewed up to this point.</h6>
                            </td>
                            <td>
                                <h1 class="display-1"> $data["CurrentYearMoviesCount"]</h1>
                                <h6 class="text-muted">viewed during the present year. </h6>
                            </td>
                            <td>
                                <h1 class="display-1">$data["CurrentMonthMoviesCount"]</h1>
                                <h6 class="text-muted">viewed in current month.</h6>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                $if data["MoviesTypesWordCloud"] == "success":
                    <div class="col-lg-6">
                        <img src="static/temp/movies_types_wordcloud.png" class="img-fluid">
                    </div>
                $if data["MoviesTypesBar"] == "success":
                    <div class="col-lg-6">
                        <img src="static/temp/movies_types_bar.png" class="img-fluid">
                    </div>
            </div>
            <div class="row">
                $if data["MoviesMonthsBar"] == "success":
                    <div class="col-lg-6">
                        <img src="static/temp/movies_months_bar.png" class="img-fluid">
                    </div>
                $if data["MoviesYearGraph"] == "success":
                    <div class="col-lg-6">
                        <img src="static/temp/movies_year_line.png" class="img-fluid">
                    </div>
            </div>
            <div class="row">
                $if data["MoviesLanguageGraph"] == "success":
                    <div class="col-lg-6">
                        <img src="static/temp/movies_languages_bar.png" class="img-fluid">
                    </div>
            </div>
        <hr>
         <div class ="row">
            <div class="col-lg-12">
                <h1 class="text-primary text-center display-3"><small> <a href="/journal">Journal</a> </small></h1>
                <h3>
                    <small class="text-muted">
                        You logged $data["JournalsCount"] journals.
                    </small>
                </h3>
            </div>

         </div>
         <hr>
        </div>
</div>